<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-8">
        <h3>Reviews</h3>
        <dl>
        <% @product.reviews.each do |review| %>
        <% user = User.find_by(id: review.user_id) %>
          <dt>Reviewer: <%= user.first_name %> <%= user.last_name %></dt>
          <dd>Description: <%= review.description %></dd>
          <dd>Rating: <%= review.rating %>/5</dd>
          <hr />
        <% end %>
        </dl>
        <% if current_user %>
          <%= form_for @product, url:product_reviews_path(@product), method: "post" do |form| %>
            <%= form.fields_for :reviews do |review| %>
              <%= review.label :description%>
              <%= review.text_area :description%>
              <%= review.label :rating%>
              <%= review.select :rating, [1, 2, 3, 4, 5] %>
            <% end %>
            <%= form.submit 'Submit'%>
          <% end %>
        <% end %>
      </div>
    </div>

  </article>

</section>
